<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Vulcanmaterials</title>
</head>
<body>
  <header class="">
    <div class="header-top-section container">
      <div class="logo">
        <a href="">
          <img src="https://vulcan-materials.azureedge.net/content-v2/images/default-source/default-album/vulcan-materials-logo.png?sfvrsn=c2926ad1_1" title="Vulcan Materials Company" alt="Vulcan Materials Company">
        </a>
      </div>

      <div class="header-text-group">
        <div>
          <span>NYSE | VMC: $224.35 <span class="percentage">-0.18%</span></span>
          <ul>
            <li><a href="">Careers</a></li>
            <li><a href="">News Releases</a></li>
            <li><a href="">Employees</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>

        <div>
          <h3>Vulcan's Statement on Inclusion & Diversity</h3>
          <a href="#">Website Accessibility Statement</a>
        </div>
      </div>

      <div class="header-search-social">
        <div class="input-field">
          <input type="text">
          <img src="/images/search.png" alt="">
        </div>

        <div class="icon-btn-group">
          <a href="https://www.facebook.com/VulcanMaterialsCompany/" target="_blank"><img height="24" src="https://vulcan-materials.azureedge.net/content-v2/images/default-source/default-album/f_logo_rgb-hex-blue_512.png?sfvrsn=effc00bb_1" alt="Facebook"></a>
          <a href="https://www.instagram.com/vulcanmaterialscompany/" target="_blank"><img height="24" src="https://vulcan-materials.azureedge.net/content-v2/images/default-source/default-album/instagram_appicon_aug2017.png?sfvrsn=b5c79c26_1" alt="Instagram"></a>
          <a href="https://www.youtube.com/user/VulcanCorporate/videos" target="_blank"><img src="https://vulcan-materials.azureedge.net/content-v2/images/default-source/default-album/youtube-35px.png?sfvrsn=4dffab8d_1" height="24" width="35" alt="YouTube"></a>
          <a href="https://www.linkedin.com/company/vulcan-materials-company/" target="_blank"><img src="https://vulcan-materials.azureedge.net/content-v2/images/default-source/default-album/linkedin-35px.png?sfvrsn=c4e982b3_1" height="24" width="26" alt="LinkedIn"></a>
        </div>
      </div>

      
    </div>

    <hr>

    <nav>
      <ul class="container">
        <li><a href="">ABOUT VULCAN</a></li>
        <li><a href="">CONSTRUCTION MATERIALS</a></li>
        <li><a href="">INVESTOR RELATIONS</a></li>
        <li><a href="">SOCIAL RESPONSIBILITY</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="banner">
      <div class="container banner-container">
        <hr>
        <ul class="slide-list">
          <li>ESSENTIAL</li>
          <li>INTEGRATION</li>
          <li>INDISPENSABLE</li>
        </ul>

        <h1 class="slogan">
          BUILT ON <br>
          ESSENTIALS
        </h1>
        <hr>

        <div class="caption">
          <h3>Essential to infrastructure</h3>
        </div>
      </div>
    </div>

    <div class="main-content container">
      <div class="foundation">
        <h2>A STRONG FOUNDATION</h2>
        <hr>
        <hr>
        <p>Vulcan Materials Company is the nation’s largest producer of construction aggregates—primarily crushed stone, sand and gravel—and a major producer of aggregates-based construction materials, including asphalt and ready-mixed concrete. Our coast-to-coast footprint and strategic distribution network align with and serve the nation’s growth centers. </p>
      </div>

      <div class="top-group">
        <div class="top-group-card1">
          <img src="images/sac-tun-panoramicas-_008.jpg" alt="">
          <div class="top-group-card1-content">
            <p><span>MyVulcan</span> is your online customer service center. Take control of your Vulcan experience anytime, anywhere.</p>
            <hr>
            <hr>

            <ul>
              <li>View tickets and order detail</li>
              <li>Track your orders</li>
              <li>Pay online</li>
            </ul>

            <a href="">GET STARTED</a>
          </div>
        </div>

        <div class="top-group-card2">
          <span>Local expertise. <span>Coast to coast.</span></span>
          <hr>
          <hr>

          <img src="/images/repmap.png" alt="">

          <div>
            <label for="rep">FIND A VULCAN REPRESENTATIVE NEAR YOU</label>
            <span class="options">
              <select name="" id="rep">
                <option value="">Select a State</option>
              </select>

              <h2>GO</h2>
            </span>
          </div>
        </div>

        <div class="top-group-card3">
          <img src="/images/myreadymix.png" alt="">
          <h3>YOUR CONCRETE. ANYTIME. ANYWHERE.</h3>

          <button>Let's Get Started</button>
        </div>
      </div>

      <div class="bottom-group">
        <div class="bottom-group-card1">
          <div class="card-content">
            <h3>SUSTAINING DURABLE GROWTH</h3>
            <hr>
            <hr>
            <p>VIEW OUR ENVIRONMENTAL, SOCIAL & GOVERNANCE REPORT</p>
          </div>
          <div>
            <img src="images/sac-tun-panoramicas-_008.jpg" alt="">
          </div>
        </div>

        <div class="bottom-group-card2">
          <img src="images/build-your-career.jpg" alt="">
          <div>
            <button>Explore Our Careeer Opportunities</button>
          </div>
        </div>

        <div class="bottom-group-card3">
          <h3>From the <span>Newsroom</span></h3>
          <hr>
          <hr>
          <p>
            <span>12/07/23</span>
            <br>
            Vulcan Materials Company Awarded for Corporate Responsibility and Commitment to Employe...
          </p>
          <hr>
          <p>
            <span>10/26/23</span>
            <br>
            VULCAN REPORTS THIRD QUARTER 2023 RESULTS       
          </p>

          <span class="read-more">
            <a href="#">READ MORE</a>
          </span>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="footer-main container">
      <div class="contact-card">
        <h3>CONTACT</h3>
        <hr>
        <hr>

        <span>
          <h4>Vulcan Materials Company</h4>
          <p>
          Corporate Office
          1200 Urban Center Drive
          Birmingham, AL 35242
          Tel: (205) 298-3000
          </p>
        </span>

        <span>
          <p>
            Please follow the hyperlinks to review the <a href=""> Business Conduct Policy</a> or to report <a href="">concerns.</a>
          </p>
        </span>

        <span>
          <p>Siga los hipervínculos para revisar la <a href="">Política de Conducta Empresarial</a> o para reportar algún <a href=""> problema.</a></p>
        </span>

        <p>Contact us for <a href="#">Product Sales.</a></p>
      </div>

      <div class="footer-main-content">
        <div class="image-group">
          <img src="/images/footer_aboutvulcan.png" alt="">
          <img src="/images/social-responsibility-footer.jpg" alt="">
          <img src="/images/footer_constructionmaterials.png" alt="">
          <img src="/images/footer_investorrelations.png" alt="">
        </div>

        <hr>
        <hr>

        <div class="footer-link-group">
          <div>
            <h3>ABOUT VULCAN</h3>
            <ul>
              <li><a href="">History</a></li>
              <li><a href="">Mission and Values</a></li>
              <li><a href="">Executive Management</a></li>
              <li><a href="">Corporate Office</a></li>
              <li><a href="">Industry Links</a></li>
              <li><a href="">Careers</a></li>
            </ul>
          </div>

          <div>
            <h3>CONSTRUCTION MATERIALS</h3>
            <ul>
              <li><a href="">Product Sales</a></li>
              <li><a href="">Products and Services</a></li>
              <li><a href="">Suppliers</a></li>
              <li><a href="">Facilities Map</a></li>
              <li><a href="">Operating Groups</a></li>
              <li><a href="">Product Calculators</a></li>
              <li><a href="">Credit Applications</a></li>
              <li><a href="">Safety Data Sheets</a></li>
              <li><a href="">Product Declaration</a></li>
              <li><a href="">Facilities</a></li>
            </ul>
          </div>

          <div>
            <h3>INVESTOR RELATIONS</h3>
            <ul>
              <li><a href="">Overview</a></li>
              <li><a href="">Why Invest</a></li>
              <li><a href="">News</a></li>
              <li><a href="">Events & Presentations</a></li>
              <li><a href="">Stock Info</a></li>
              <li><a href="">Financials</a></li>
              <li><a href="">Governance</a></li>
              <li><a href="">Link to Earning Calls</a></li>
              <li><a href="">Link to 2022 Investor Day</a></li>
            </ul>
          </div>

          <div>
            <h3>SOCIAL RESPONSIBILITY</h3>
            <ul>
              <li><a href="">2022 ESG Report</a></li>
              <li><a href="">Safety and Health</a></li>
              <li><a href="">Environmental Stewardship</a></li>
              <li><a href="">People</a></li>
              <li><a href="">Community</a></li>
              <li><a href="">Governance</a></li>
              <li><a href="">Teacher Center</a></li>
              <li><a href="">Vulcan Foundation</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="base container">
      <div class="left">
        <ul>
          <li><a href="">Site Map</a></li>
          <li><a href="">Term of Use</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">California Residents' Privacy Notice</a></li>
          <li><a href="">Contact Us About Our Site</a></li>
        </ul>
      </div>

      <div class="right">
        <p>© 2022 Vulcan Materials Company</p>
      </div>
    </div>
  </footer>

  <script src="app.js"></script>
</body>
</html>